.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #ffdff1;
}

.main-title {
    font-size: 3rem;
    color: #000000;
    margin-bottom: 30px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.buttons {
    display: flex;
    gap: 50px;
}

.yes-button{
    background-color: #ffaac8;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 1.5rem;
    cursor: url('../assets/images/myMelodyCursor.svg') 16 16, pointer;
    border-radius: 5px;
}

.no-button{
    background-color: #7a98ce;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 5px;
}

.valentine-gif {
    width: 300px;
    height: 300px;
    margin-top: 20px;
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}